<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/OurStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="topPanel"></div>
    <div class="mainPanel">
        @RenderBody()
    </div>
</body>
</html>
