<div class="container">
    <div class="row">
        <div class="col-md-3"><img src="~/Images/csk.jpg" alt="CSK" width="200" height="200" class="img-responsive" /></div>
        <div class="col-md-3"><img src="~/Images/rcb.jpg" alt="RCB" width="200" height="200" class="img-responsive" /></div>
    </div>
</div>
